# Ignore binary
DiscordMusicCollector
DiscordMusicCollector.exe

# Don't ignore cmd/DiscordMusicCollector
!DiscordMusicCollector/

# Ignore debug output
__*

# Ingore secrets
config.yaml

# Ingore databases
*.db

# Ignore macOS stuff
.DS_Store